@media screen and ( min-width: 480px ) {
#logo-big {
    display: inline-block;
    width: 100px;
}

#logo-small {
    display: none;
}

.home {
    display: inline-block;
    padding: 2px;
}

.playlist {
    display:inline-block;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    color: gray;
}

.menu {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

}