.container-app {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* START MENU */
.menu {
    background-color: black;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.white {
    background-color: white;
}

.user-1 {
    display: flex;
    flex-direction: column;
    gap:10px
}

.user-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* END MENU */

.music {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.upgrade {
    height: 10%;
    border: 1px solid black;
    background-color: red;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.canzoni {
    height: 100%;
    border: 1px solid black;
    background-color: yellow;
}

.play-bar {
    height: 50px;
    background-color: black;
}
