html {
    font-family: sans-serif;
}

.container-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}
/* START MENU */
.menu {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#logo-small {
    width: 25px;
}

#logo-big {
    display: none;
}

.user-1 {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-top:  10px;
}

.user-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.home {
    display: none;
}

.icon {
    width: 25px;
    display: flex;
}

.playlist {
    display: none;

}

hr {
    color: gray;
}

/* END-MENU */


/* UPGRADE */
.upgrade {
    padding: 20px;
    background-color: rgb(43, 37, 37);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.upgrade-1 {
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
}
/* END-UPGRADE */

/* SECTION */
.music {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.canzoni {
    background-color: rgb(65, 65, 62);
    padding-inline: 20px;
    overflow-y: auto;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    color: gray;
}

h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section {
    display: flex;
    flex-wrap: wrap;

}

.foto {
    width: 50%;
    padding: 5px;
}

p {
    color: gray;
}

.set {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}

/* END-SECTION */
