html {
    font-family: sans-serif;
}

.container-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}
/* START MENU */
.menu {
    background-color: black;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.white {
    background-color: white;
}

.user-1 {
    display: flex;
    flex-direction: column;
    gap:10px
}

.user-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.icon {
    width: 30px;
}
/* END-MENU */


/* UPGRADE */
.upgrade {
    height: 10%;
    background-color: rgb(43, 37, 37);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.upgrade-1 {
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;

}
/* END-UPGRADE */

/* SECTION */
.music {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.canzoni {
    height: 100%;
    background-color: rgb(65, 65, 62);
    padding-inline: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    color: gray;
}

h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section {
    display: flex;
    flex-wrap: wrap;

}

.foto {
    width: 50%;
    padding: 5px;
}

p {
    color: gray;
}

.set {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* END-SECTION */


.play-bar {
    height: 50px;
    background-color: black;
}
